.product-container:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.product-container a:hover {
    color: #2c5853;
    border-bottom: #AC001E solid .2rem;
}

/*for mobile devices with max decive width of 500*/
@media screen and (max-device-width: 500px) {
    .main-container h3 {
        margin-top: 3%;
    }
}


/*for mobile devices with max decive width of 1200*/
@media screen and (min-width: 870px) {
    .main-container h3 {
        margin-top: -8rem;
    }

    .best-seller-container {
        scroll-behavior: auto;
    }
}

/*for mobile devices with max decive width of 1200*/
@media screen and (min-width: 1400px) {
    .main-container h3 {
        margin-top: -16rem;
    }
    .main-container  {
        padding: 0 8%;
    }

    .best-seller-container {
        max-width: 75%;
    }

    .about-us-container {
        padding: 0 5rem;
    }

    .about-us-container article {
        padding: 2rem 10rem;
    }
}